body {
    margin: 0;
    overflow: hidden; 
background-image: url("images/desktop.png");
    background-size: cover;
    height: 100vh;
}

.box-open {
    position: absolute;
    top: 20px;
    left: 1565px;
    cursor: pointer;
    width: 80px;
    height: auto;
}

.box-open img {
    width: 100%;
    height: 100%;
}

#box1 img {
    width: 80px;
  }

  .resizable-box {
    position: absolute;
    border: 2px solid #000;
    padding: 10px;
    background-color: #fff;
    overflow: auto; /* Set overflow property to handle text overflow */
}

.casefile-open {
    position: absolute;
    top: 150px;
    left: 1565px;
    cursor: pointer;
    width: 80px;
    height: auto;
}

.casefile-open img {
    width: 100%;
    height: 100%;
}

.notebox-open {
    position: absolute;
    top: 280px;
    left: 1565px;
    cursor: pointer;
    width: 80px;
    height: auto;
}

.notebox-open img {
    width: 100%;
    height: 100%;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.resizable-box#box1 {
    position: absolute;
    top: 600px;
    left: 50px;
    border: 2px solid #000;
    padding: 10px;
    height:200px;
    width: auto;
    background-color: #fff;
    display: none;
}

.resizable-box#casefile {
    top: 200px;
    left: 400px;
    width: 500px;
    height: 600px;
    display: none;
}

.resizable-box#notebox {
    top: 200px;
    left: 400px;
    width: 500px;
    height: 600px;
    display: none;
}

.resizable-box-header {
    background-color: #ddd;
    padding: 5px;
    cursor: move;
}

.fixed-box#box3 {
    position: absolute;
    top: 150px; 
    left: 70px; 
    width: 700px; 
    height: auto;
    border: 2px solid #000;
    overflow: hidden;
    display: none;
}

.fixed-box#box4 {
    position: absolute;
    top: 500px; 
    left: 500px; 
    width: auto;  /* Allow the width to adjust based on the image */
    max-width: 300px;  /* Set a maximum width if needed */
    height: auto;  /* Allow the height to adjust based on the image */
    border: 2px solid #000;
    overflow: hidden;
    display: none;
}

.fixed-box img {
    width: 100%;
    height: auto;
    vertical-align: top; /* Align the image to the top of the container */
}

.fixed-box-header {
    background-color: #ddd;
    padding: 5px;
    cursor: move;
}



.fixed-box#box5 {
    position: absolute;
    top: 700px;  /* Adjust the positioning as needed */
    left: 200px; /* Adjust the positioning as needed */
    width: auto;
    max-width: 300px;
    height: auto;
    border: 2px solid #000;
    overflow: hidden;
    display: none;
}

.fixed-box#box5 img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

area {
    cursor: pointer;
  }